@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");

:root {
  --primary-white: #fff;
}

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 8rem;
}

/********************** MENU LINKS **********/

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav li a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}
