@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuggles&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");

:root {
  --primary-white: #fff;
  --primary-red: #94192e;
  --primary-dark: rgba(255, 255, 255, 0);
}

* {
  /* box-sizing: border-box; */
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* ul li a {
  color: #fff;
}
ul li a:hover {
  color: green;
} */

.logo {
  width: 6rem;
}

.kennel {
  width: 30rem;

  /* @media screen and (max-width: 1000px) {
    max-width: 52rem;
  }

  @media screen and (max-width: 768px) {
    max-width: 38rem;
  }
  @media screen and (max-width: 375px) {
    max-width: 20rem;
  } */
}

@media screen and (max-width: 1000px) {
  .kennel {
    max-width: 52rem;
  }
}

@media screen and (max-width: 768px) {
  .kennel {
    max-width: 25rem;
  }
}

@media screen and (max-width: 375px) {
  .kennel {
    max-width: 20rem;
  }
}

/********************** MENU LINKS **********/

/* nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
} */

/* nav ul li {
  text-transform: uppercase;
} */

/* .navbar-nav li a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
} */

/* .navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
} */

/* .navbar-nav li a.active,
.navbar-nav li a.active:focus {
  border-top: 0.1875rem solid var(--primary-red);
} */
/* 
.navbar-nav li a:hover {
  border-top: 0.1875rem solid var(--primary-red);
} */

/********************** Home Page *****************/
